@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: Lato;
}

a {
  display: inline-block;
  text-decoration: none;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.title {
  width: 100%;
  background-color: #f2f2f2;
}

.section-mobile {
  width: 100%;
  background-color: #74cfae;
}

.article {
  width: 100%;
  background-color: #f2f2f2;
}

.section-OURSKILL {
  width: 100%;
  background-color: #4e4e4e;
}

.nav {
  width: 100%;
  background-color: #f2f2f2;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header-inner {
  padding: 15px 0;
}

.fa-bolt {
  color: #4e4e4e;
  zoom: 1.5;
}

.header-img {
  font-size: 27px;
}

.header-contace {
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 14px 12px;
  background-color: #74cfae;
  font-family: Lato;
  transition: all 0.3s;
}

.header-contace:hover {
  color: #333;
  cursor: pointer;
}

.main {
  padding-top: 70px;
}

.title-inner {
  padding: 250px 0;
  text-align: center;
}

.title-inner_h1 {
  font-size: 90px;
  font-weight: 700;
  font-family: Raleway;
  color: #74cfae;
}

.title-inner_h2 {
  font-family: Raleway;
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.section-text {
  width: 600px;
}

.section-mobile_inner {
  text-align: center;
  display: flex;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.section-mobile_title {
  font-family: Raleway;
  font-size: 24px;
}

.section-mobile_text {
  font-size: 20px;
  margin-top: 35px;
}

.article-inner {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
}

.article-title {
  font-family: Raleway;
  font-size: 24px;
  color: #4e4e4e;
  
}

.article-img-box {
  margin-top: 40px;
  font-size: 0;
  text-align: left;
}

.article-img {
  opacity: 0.7;
  transition: all 0.3s;
}

.article-img:hover {
  opacity: 1;
  cursor: pointer;
}

.article-img-box li {
  display: inline-block;
  margin: 80px 0 0 100px;
}

.article-linl:nth-child(-n+3) {
  margin-top: 0;
}

.article-linl:nth-child(3n+1) {
  margin-left: 0;
}

.article-bottm {
  margin-top: 90px;
}

.article-bottm-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-text {
  font-size: 20px;
  color: #4e4e4e;
  width: 580px;
}

.article_contace {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  background-color: #74cfae;
  margin-left: 90px;
  padding: 14px 20px;
  transition: all 0.3s;
}

.article_contace:hover {
  color: #333;
  cursor: pointer;
}

.section-OURSKILL_inner {
  padding: 70px 0 100px 0;
}

.section-OURSKILL_title {
  font-family: Raleway;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.section-OURSKILL_img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  margin-top: 70px;
}

.section-img {
  margin-left: 180px;
  text-align: center;
}

.section-img:first-child {
  margin-left: 0;
}


.figcaption {
  margin-top: 10px;
}


.nav-inner {
  display: inline-block;
  text-align: center;
  padding: 200px 0;
}

.nav-img {
  display: inline-block;
  text-align: center;
  width: 185px;
  padding: 30px 0;
  background-color: #f2f2f2;
  transition: all 0.3s;
}

.nav-img:hover {
  background-color: #fff;
  cursor: pointer;
}

.fa-facebook-f, .fa-dribbble, .fa-twitter, .fa-envelope{
  color: #74cfae;
  zoom: 3;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-text {
  text-align: right;
  color: #fff;
}